# value_counts
* [DataFrame、Series の頻度を value_counts で確認－python | コード７区](http://ailaby.com/dataframe_value_counts/)

In [1]:
from pandas import Series
ss = Series(['Tokyo', 'Nagoya', 'Nagoya', 'Osaka', 'Tokyo', 'Tokyo'])
ss.value_counts()

Tokyo     3
Nagoya    2
Osaka     1
dtype: int64

In [2]:
import pandas as pd
from pandas import DataFrame
 
df = DataFrame({'a':['Tokyo', 'Osaka', 'Nagoya', 'Osaka', 'Tokyo', 'Tokyo'],
                'b':['Osaka', 'Osaka', 'Osaka', 'Tokyo', 'Tokyo', 'Tokyo']})
df.apply(pd.value_counts)

        a    b
Nagoya  1  NaN
Osaka   2  3.0
Tokyo   3  3.0

In [3]:
df.apply(pd.value_counts).fillna(0)

        a    b
Nagoya  1  0.0
Osaka   2  3.0
Tokyo   3  3.0