# サンプル

### (Q) エクセルでの列の合計、行の合計はわかるのですが、Jupyterではどうやるのですか？

![](https://camo.githubusercontent.com/7b0e3d04df6be39da805906a639acecd7acfcdf7/68747470733a2f2f737570706f72742e636f6e74656e742e6f66666963652e6e65742f6a612d6a702f6d656469612f38363531623539642d346532612d343637302d623433352d3835666436613531353930332e6a7067)

### (A)  列の合計はsum()、行の合計はsum(axis=1)です。

### 1. [pandas で行と列に合計値を追加する - Qiita](https://qiita.com/kshigeru/items/e108e714ad2dcaec69ee)

In [8]:
import pandas as pd
df = pd.DataFrame({'商品A': [47000, 54000, 84000], '商品B': [28000, 30000, 35000]})
df

     商品A    商品B
0  47000  28000
1  54000  30000
2  84000  35000

In [9]:
df = pd.concat([df,pd.DataFrame(df.sum(axis=0),columns=['Grand Total']).T])
df

                商品A    商品B
0             47000  28000
1             54000  30000
2             84000  35000
Grand Total  185000  93000

In [10]:
df = pd.concat([df,pd.DataFrame(df.sum(axis=1),columns=['Total'])],axis=1)
df

                商品A    商品B   Total
0             47000  28000   75000
1             54000  30000   84000
2             84000  35000  119000
Grand Total  185000  93000  278000

---

### 2. [Pandasでデータ集計をする際に最低限覚えておきたいメソッド - Qiita](https://qiita.com/kyo-bad/items/f5ddb7e4b8e7ad9103c5)

In [2]:
df.sum()

商品A    185000
商品B     93000
dtype: int64

In [ ]:
df

In [4]:
df.sum(axis=1)

0     75000
1     84000
2    119000
dtype: int64

In [6]:
df['合計'] = df.sum(axis=1)
df

     商品A    商品B      合計
0  47000  28000   75000
1  54000  30000   84000
2  84000  35000  119000