# pandas-cheatsheet-dfの並べ替えなど

## 各行の合計の列を作る
* pandas sum of each row
* [python - All row sum with pandas except one - Stack Overflow](https://stackoverflow.com/questions/44003371/all-row-sum-with-pandas-except-one)
* [pandas で行と列に合計値を追加する - Qiita](https://qiita.com/kshigeru/items/e108e714ad2dcaec69ee)
* [pandas: create new column from sum of others | Shiori](https://kaijento.github.io/2017/04/22/pandas-create-new-column-sum/)

In [7]:
import pandas
df = pandas.DataFrame({'x': [1, 2, 3], 'y': [4, 5, 6]})
df['sum'] = df.sum(axis=1)
# 特定の行を除く場合
#df['sum'] = df.drop('gid', axis=1).sum(axis=1)
df

   x  y  sum
0  1  4    5
1  2  5    7
2  3  6    9

## 列の値でソートする
* [pandas でソート - Qiita](https://qiita.com/y_sk71/items/c22f47bd4ddc1dc46dc8)
* [pandas.DataFrame, Seriesをソートするsort_values, sort_index | Python / note.nkmk.me](https://note.nkmk.me/python-pandas-sort-values-sort-index/)

In [9]:
import pandas as pd
df.sort_values(by=["sum"], ascending=False)
#df.sort_values(by=["項目1", "項目2"], ascending=True)

   x  y  sum
2  3  6    9
1  2  5    7
0  1  4    5

## 行の逆順
* pandas reverse rows
    * [How to reverse the order of rows in my dataframe using Python, But not reverse the index when saving it into another dataframe - Stack Overflow](https://stackoverflow.com/questions/39127900/how-to-reverse-the-order-of-rows-in-my-dataframe-using-python-but-not-reverse-t)

In [3]:
import pandas as pd
df = pd.DataFrame({'A': [4, 8, 3, 6]})
df

   A
0  4
1  8
2  3
3  6

In [3]:
df.iloc[::-1]

   A
3  6
2  3
1  8
0  4

In [4]:
df.iloc[::-1].reset_index(drop=True)

   A
0  6
1  3
2  8
3  4

## 上からn行にする

In [6]:
df[:2]

   A
0  4
1  8