# 行と列を合計の多い順にソートする
* [Pandas のデータフレームをソートする – Python でデータサイエンス](https://pythondatascience.plavox.info/pandas/データフレームをソートする)
* [pandas で行と列に合計値を追加する - Qiita](https://qiita.com/kshigeru/items/e108e714ad2dcaec69ee)

## 準備

In [1]:
import pandas as pd
import numpy as np
 
# データフレーム df を作成
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
 
# 行名に基づいてソート
df.sort_index(ascending=False)

                   A         B         C         D
2013-01-06  0.619814 -0.195571 -0.100538 -0.784421
2013-01-05  0.417328  2.626056 -0.190929  1.777762
2013-01-04  0.744444 -0.286317  1.651094  0.397290
2013-01-03  0.052619  0.062861  2.077159 -0.586475
2013-01-02  0.002969 -2.278074  0.724188 -0.412756
2013-01-01 -0.493232  0.112845 -0.813486  1.090125

In [2]:
# カラム名 (列名) に基づいてソート
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  1.090125 -0.813486  0.112845 -0.493232
2013-01-02 -0.412756  0.724188 -2.278074  0.002969
2013-01-03 -0.586475  2.077159  0.062861  0.052619
2013-01-04  0.397290  1.651094 -0.286317  0.744444
2013-01-05  1.777762 -0.190929  2.626056  0.417328
2013-01-06 -0.784421 -0.100538 -0.195571  0.619814

## やってみよう

### 1. 行と列の合計を求める

In [3]:
#df1 = df.copy()
df1 = df
df1 = pd.concat([df1,pd.DataFrame(df1.sum(axis=0),columns=['Grand Total']).T])
df1 = pd.concat([df1,pd.DataFrame(df1.sum(axis=1),columns=['Total'])],axis=1)
df1

                            A         B         C         D     Total
2013-01-01 00:00:00 -0.493232  0.112845 -0.813486  1.090125 -0.103748
2013-01-02 00:00:00  0.002969 -2.278074  0.724188 -0.412756 -1.963673
2013-01-03 00:00:00  0.052619  0.062861  2.077159 -0.586475  1.606164
2013-01-04 00:00:00  0.744444 -0.286317  1.651094  0.397290  2.506511
2013-01-05 00:00:00  0.417328  2.626056 -0.190929  1.777762  4.630217
2013-01-06 00:00:00  0.619814 -0.195571 -0.100538 -0.784421 -0.460717
Grand Total          1.343942  0.041801  3.347487  1.481524  6.214755

### 2. 行をソートする

In [4]:
df1.sort_values(by='Total', ascending=False, inplace=True)
df1

                            A         B         C         D     Total
Grand Total          1.343942  0.041801  3.347487  1.481524  6.214755
2013-01-05 00:00:00  0.417328  2.626056 -0.190929  1.777762  4.630217
2013-01-04 00:00:00  0.744444 -0.286317  1.651094  0.397290  2.506511
2013-01-03 00:00:00  0.052619  0.062861  2.077159 -0.586475  1.606164
2013-01-01 00:00:00 -0.493232  0.112845 -0.813486  1.090125 -0.103748
2013-01-06 00:00:00  0.619814 -0.195571 -0.100538 -0.784421 -0.460717
2013-01-02 00:00:00  0.002969 -2.278074  0.724188 -0.412756 -1.963673

### 3. 列をGrand Totalの行を使ってソートする

In [5]:
# Grand Totalの値でソートする
s = df1.T['Grand Total'].sort_values(ascending=False)
s

Total    6.214755
C        3.347487
D        1.481524
A        1.343942
B        0.041801
Name: Grand Total, dtype: float64

In [6]:
# インデックスを取り出し、列をその並び順にする
df1 = df1[s.index.tolist()]
df1

                        Total         C         D         A         B
Grand Total          6.214755  3.347487  1.481524  1.343942  0.041801
2013-01-05 00:00:00  4.630217 -0.190929  1.777762  0.417328  2.626056
2013-01-04 00:00:00  2.506511  1.651094  0.397290  0.744444 -0.286317
2013-01-03 00:00:00  1.606164  2.077159 -0.586475  0.052619  0.062861
2013-01-01 00:00:00 -0.103748 -0.813486  1.090125 -0.493232  0.112845
2013-01-06 00:00:00 -0.460717 -0.100538 -0.784421  0.619814 -0.195571
2013-01-02 00:00:00 -1.963673  0.724188 -0.412756  0.002969 -2.278074

### 4. 追加した合計列、合計行を消す

In [7]:
df = df1.drop('Total', axis=1).drop('Grand Total')
df

                            C         D         A         B
2013-01-05 00:00:00 -0.190929  1.777762  0.417328  2.626056
2013-01-04 00:00:00  1.651094  0.397290  0.744444 -0.286317
2013-01-03 00:00:00  2.077159 -0.586475  0.052619  0.062861
2013-01-01 00:00:00 -0.813486  1.090125 -0.493232  0.112845
2013-01-06 00:00:00 -0.100538 -0.784421  0.619814 -0.195571
2013-01-02 00:00:00  0.724188 -0.412756  0.002969 -2.278074

### 以上で、行も列も合計の多い順になった。まとめると以下の通り

In [8]:
def sort_columns_rows(df1, with_total = False, row_ascending = False, col_ascending = False, \
                      total_col_name = 'Total', total_index_name = 'Grand Total'):
    #df1 = df
    df1 = pd.concat([df1,pd.DataFrame(df1.sum(axis=0),columns=[total_index_name]).T])
    df1 = pd.concat([df1,pd.DataFrame(df1.sum(axis=1),columns=[total_col_name])],axis=1)
    df1.sort_values(by='Total', ascending=row_ascending, inplace=True)
    s = df1.T['Grand Total'].sort_values(ascending=col_ascending)
    df1 = df1[s.index.tolist()]
    if with_total == False:
        df1 = df1.drop('Total', axis=1).drop('Grand Total')
    return df1

#df = sort_columns_rows(df, with_total = True)
#df
sort_columns_rows(df, with_total = True)
#sort_columns_rows(df)

                        Total         C         D         A         B
Grand Total          6.214755  3.347487  1.481524  1.343942  0.041801
2013-01-05 00:00:00  4.630217 -0.190929  1.777762  0.417328  2.626056
2013-01-04 00:00:00  2.506511  1.651094  0.397290  0.744444 -0.286317
2013-01-03 00:00:00  1.606164  2.077159 -0.586475  0.052619  0.062861
2013-01-01 00:00:00 -0.103748 -0.813486  1.090125 -0.493232  0.112845
2013-01-06 00:00:00 -0.460717 -0.100538 -0.784421  0.619814 -0.195571
2013-01-02 00:00:00 -1.963673  0.724188 -0.412756  0.002969 -2.278074

In [9]:
sort_columns_rows(df)

                            C         D         A         B
2013-01-05 00:00:00 -0.190929  1.777762  0.417328  2.626056
2013-01-04 00:00:00  1.651094  0.397290  0.744444 -0.286317
2013-01-03 00:00:00  2.077159 -0.586475  0.052619  0.062861
2013-01-01 00:00:00 -0.813486  1.090125 -0.493232  0.112845
2013-01-06 00:00:00 -0.100538 -0.784421  0.619814 -0.195571
2013-01-02 00:00:00  0.724188 -0.412756  0.002969 -2.278074